#include <windows.h>
#include "Draw3D.h"

MYMENU MENU DISCARDABLE 
BEGIN
  POPUP "&Draw"
  BEGIN
    MENUITEM "&Cube", ID_CUBE
    MENUITEM "C&one", ID_CONE
    MENUITEM "C&ylinder", ID_CYLINDER
    MENUITEM "&Sphere", ID_SPHERE
  END
  POPUP "&Transform"
  BEGIN
    MENUITEM "&Translate", ID_TRANSLATE
    MENUITEM "&Rotate", ID_ROTATE
    MENUITEM "&Scale", ID_SCALE
  END
  MENUITEM "&Clear", ID_CLEAR
  MENUITEM "&Exit", ID_EXIT
END 

TRNSLT_SCALEDB DIALOGEX 100, 100, 128, 82
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Input: Data for translation"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT   "X value:",ID_VARLBL0,2,2,85,17
  EDITTEXT  ID_VARFLD0,93,2,20,17,ES_AUTOHSCROLL,WS_EX_RIGHT
  LTEXT   "Y value:",ID_VARLBL1,2,21,85,17
  EDITTEXT  ID_VARFLD1,93,21,20,17,ES_AUTOHSCROLL,WS_EX_RIGHT
  LTEXT   "Z value:",ID_VARLBL2,2,42,84,17
  EDITTEXT  ID_VARFLD2,93,42,20,17,ES_AUTOHSCROLL,WS_EX_RIGHT
  DEFPUSHBUTTON   "Draw",ID_DRAW,7,62,72,17
  PUSHBUTTON   "Cancel",ID_CANCEL,81,62,30,17
END 

ROTATEDB DIALOGEX 100, 100, 128, 82
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Input: Data for rotation"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT   "Rotate with respect to",ID_VARLBL0,2,2,85,17
  COMBOBOX  ID_VARFLD0,76,2,48,45,
            CBS_DROPDOWNLIST |  WS_VSCROLL | WS_TABSTOP
  LTEXT   "Angle of rotation (in degrees):",
          ID_VARLBL1,2,21,85,17
  EDITTEXT  ID_VARFLD1,93,21,20,17,ES_AUTOHSCROLL, WS_EX_RIGHT
  DEFPUSHBUTTON   "Draw",ID_DRAW,7,62,72,17
  PUSHBUTTON   "Cancel",ID_CANCEL,81,62,30,17
END

SHAPEDB DIALOG DISCARDABLE  100, 100, 128, 158 
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Input: Shape Data"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT   "Dummy1",ID_VARLBL0,2,2,85,17
  EDITTEXT  ID_VARFLD0,93,2,20,17,ES_AUTOHSCROLL|ES_NUMBER,WS_EX_RIGHT
  LTEXT   "Dummy2",ID_VARLBL1,2,21,85,17
  EDITTEXT  ID_VARFLD1,93,21,20,17,ES_AUTOHSCROLL|ES_NUMBER,WS_EX_RIGHT
  LTEXT   "Theta, measured anticlockwise from x-axis (degrees):",
          ID_LABEL,2,42,84,17
  EDITTEXT  ID_THETA,93,42,20,17,ES_AUTOHSCROLL, WS_EX_RIGHT
  LTEXT   "Phi, measured clockwise from z-axis (degrees):",
          ID_LABEL+101, 2,65,86,17
  EDITTEXT  ID_PHI,93,65,20,17,ES_AUTOHSCROLL, WS_EX_RIGHT
  LTEXT   "Distance from viewpoint to object (r):",
          ID_LABEL+102,2,88,90,17
  EDITTEXT  ID_R,93,88,20,17,ES_AUTOHSCROLL|ES_NUMBER, WS_EX_RIGHT 
  LTEXT   "Distance from viewpoint to screen (d):",
          ID_LABEL+103,2,107,85,17
  EDITTEXT  ID_DIST,93,111,20,17,ES_AUTOHSCROLL|ES_NUMBER, WS_EX_RIGHT
  DEFPUSHBUTTON   "Draw",ID_DRAW,3,136,112,17
END

SHAPESB DIALOG DISCARDABLE  0, 0, 430, 18
STYLE DS_SETFOREGROUND | WS_CHILD | WS_BORDER
EXSTYLE WS_EX_TOOLWINDOW
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT "",ID_VARLBL0,1,1,410,8
  LTEXT "",ID_VARLBL1,1,9,410,8
END
